body {
    background-color: rgb(28, 29, 31);
}
canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
 }
img {
    width: 160px;
}
.container {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: Cinzel;
    border: solid black;
    max-width: 50%;
    max-height: 20%;
}
  
  .container > * {
    padding: 10px;
    flex: 1 100%;
  }
  
.versus {
    margin: 30px 40%;
}

.versus-text {
    font-family: Cinzel;
}

  .player-name {
    background: rgb(70, 67, 67);
    border: double rgb(199, 198, 198);
    font-family: Cinzel;
  }

  .enemy-name {
    background: rgb(70, 67, 67);
    border: double rgb(199, 198, 198);
  }

  
  .player-image {
    text-align: left;
    background: rgb(70, 67, 67);
    border: double rgb(56, 74, 245);
  }
  
  .enemy-image {
    text-align: left;
    background: rgb(70, 67, 67);
    border: double rgb(117, 7, 7);
  }

  .health {
    text-align: left;
    border: double rgb(199, 198, 198);
    background: rgb(70, 67, 67);
    border-bottom: double rgb(228, 12, 12);
  }
  
  .mana {
    text-align: left;
    border: double rgb(199, 198, 198);
    background: rgb(70, 67, 67);
    border-bottom: double rgb(5, 25, 78);
    
  }

  .strength {
    text-align: left;
    background: rgb(70, 67, 67);
    border: double rgb(199, 198, 198);
    border-bottom: double rgba(255, 145, 0, 0.822);
  }
  
    .agility {
    background: rgb(70, 67, 67);
    text-align: left;
    border: double rgb(199, 198, 198);
    border-bottom: double rgb(251, 255, 0);
}

.speed {
    background: rgb(70, 67, 67);
    text-align: left;
    border: double  rgb(199, 198, 198);
    border-bottom: double rgb(9, 255, 1);
}

img {
   height: 100%;
    width: 100%;
    border: double rgb(199, 198, 198);
}

.fire {
	margin: 50px auto;
	width: 80%;
	max-width: 1000px;
	height: 200px;

	background-position: center center;
	background-size: 1000px 200px;
	border-radius: 10px;
	font-family: Cinzel;
	overflow: hidden;
    text-align: center;
	vertical-align: middle;

}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
	display: inline-block;
    margin: auto -150%;


    color: rgb(255, 115, 0);
    font-size: 60px;
	line-height: 50px;
	min-width: 50px;
	outline: none;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 1s Blazing infinite alternate linear;
}

.hero img {
 
    width: 160px;
}


@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}


  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }

  @media (max-width: 1024px) {
    .container {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;
        margin: auto;
        font-family: Cinzel;
        border: solid black;
    }
      
      .container > * {
        padding: 10px;
        flex: 1 100%;
      }
    }
 @media (max-width: 780px) {
    .container {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;
        margin: auto;
        font-family: Cinzel;
        border: solid black;
    }
      
      .container > * {
        padding: 10px;
        flex: 1 100%;
      }
    }
 @media (max-width: 480px) {
    .container {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;
        margin: auto;
        font-family: Cinzel;
        border: solid black;
        
    }
      
      .container > * {
        padding: 10px;
        flex: 1 100%;
      }
    }

    .versus {
        margin: 30px 40%;
    }
    